# **Porównanie dwóch wybranych modeli ML do przewidywania zgonów z powodu wybuchu COVID-19**

**Pobranie danych z 2 źródeł.**

In [1]:
import urllib.request
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report, confusion_matrix

%matplotlib inline
plt.style.use('seaborn-whitegrid')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
url1 = "https://raw.githubusercontent.com/fischerbach/COVID-19/master/2020-06-22.csv"
data1 = pd.read_csv(url1)
data1.head()

          Voivodeship County/City          Last Update Confirmed  Deaths
0        dolnośląskie     no-data  2020-06-22 23:59:02     2 857     136
1  kujawsko-pomorskie     no-data  2020-06-22 23:59:02       652      49
2           lubelskie     no-data  2020-06-22 23:59:02       606      17
3            lubuskie     no-data  2020-06-22 23:59:02       145       0
4             łódzkie     no-data  2020-06-22 23:59:02     2 878     140

In [9]:
# url2 = "https://raw.githubusercontent.com/dtandev/coronavirus/master/data/CoronavirusPL%20-%20General.csv"
# data2 = pd.read_csv(url2)
# data2.head()

In [4]:
# # !unzip -q '/content/drive/My Drive/train_val_test.zip' -d '/content'
# # https://ihmecovid19storage.blob.core.windows.net/latest/ihme-covid19.zip
# url3 = "https://ihmecovid19storage.blob.core.windows.net/latest/ihme-covid19.zip"
# filename = "covid.zip"
# urllib.request.urlretrieve(url3, filename)
# !unzip -q "/content/{filename}" -d '/content'

In [25]:
url3_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
data3_confirmed = pd.read_csv(url3_confirmed)
data3_confirmed = data3_confirmed[data3_confirmed["Country/Region"] == "Poland"].T

In [26]:
url3_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
data3_deaths = pd.read_csv(url3_deaths)
data3_deaths = data3_deaths[data3_deaths["Country/Region"] == "Poland"].T

In [27]:
url3_recovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"
data3_recovered = pd.read_csv(url3_recovered)
data3_recovered = data3_recovered[data3_recovered["Country/Region"] == "Poland"].T

In [36]:
data3 = data3_confirmed
data3.rename(columns={data3.columns[0]: "confirmed"}, inplace=True)
data3["deaths"], data3["recovered"] = data3_deaths, data3_recovered
data3.tail(30)

        confirmed deaths recovered
5/24/20     21326    996      9194
5/25/20     21631   1007      9276
5/26/20     22074   1024     10020
5/27/20     22473   1028     10330
5/28/20     22825   1038     10560
5/29/20     23155   1051     10692
5/30/20     23571   1061     11016
5/31/20     23786   1064     11271
6/1/20      24165   1074     11449
6/2/20      24395   1092     11726
6/3/20      24687   1115     12014
6/4/20      25048   1117     12227
6/5/20      25410   1137     12410
6/6/20      25986   1153     12641
6/7/20      26561   1157     12855
6/8/20      27160   1166     12998
6/9/20      27560   1183     13196
6/10/20     27842   1206     13411
6/11/20     28201   1215     13696
6/12/20     28577   1222     13805
6/13/20     29017   1237     14104
6/14/20     29392   1247     14226
6/15/20     29788   1256     14383
6/16/20     30195   1272     14654
6/17/20     30701   1286     14921
6/18/20     31015   1316     15317
6/19/20     31316   1334     15698
6/20/20     31620   1346     16181
6/21/20     31931   1356     16683
6/22/20     32227   1359     17076