# **Porównanie dwóch wybranych modeli ML do przewidywania zgonów z powodu wybuchu COVID-19**

## **Pobranie danych z 2 źródeł.**

In [2]:
import urllib.request
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report, confusion_matrix

%matplotlib inline
plt.style.use('seaborn-whitegrid')

### Pierwsze źródło

In [3]:
# Manage first source of data.
url1 = "https://raw.githubusercontent.com/dtandev/coronavirus/master/data/CoronavirusPL%20-%20General.csv"
data1 = pd.read_csv(url1)
data1.set_index('Timestamp', inplace=True)
data1.tail()

,Confirmed,Deaths,Recovered,In_the_hospital,In_quarantine,Under_medical_supervision,Number_of_tests_carried_out
Timestamp,,,,,,,
13-06-2020,29017,1237,9416,1748,93094,18666,1169088
14-06-2020,29392,1247,9555,1736,94518,17966,1188742
15-06-2020,29788,1256,9668,1806,95641,17261,1202024
16-06-2020,30195,1272,9936,1693,96255,17195,1221133
17-06-2020,30701,1286,10284,1849,93722,17354,1247099

In [14]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107 entries, 03-03-2020 to 17-06-2020
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Confirmed                    107 non-null    int64
 1   Deaths                       107 non-null    int64
 2   Recovered                    107 non-null    int64
 3   In_the_hospital              107 non-null    int64
 4   In_quarantine                107 non-null    int64
 5   Under_medical_supervision    107 non-null    int64
 6   Number_of_tests_carried_out  107 non-null    int64
dtypes: int64(7)
memory usage: 6.7+ KB

### Drugie źródło

In [39]:
# Manage second source of data.
url2_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
url2_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
url2_recovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

data2_confirmed = pd.read_csv(url2_confirmed)
data2_deaths = pd.read_csv(url2_deaths)
data2_recovered = pd.read_csv(url2_recovered)

data2_confirmed = data2_confirmed[data2_confirmed["Country/Region"] == "Poland"].T
data2_deaths = data2_deaths[data2_deaths["Country/Region"] == "Poland"].T
data2_recovered = data2_recovered[data2_recovered["Country/Region"] == "Poland"].T

data2 = data2_confirmed
data2.rename(columns={data2.columns[0]: "Confirmed"}, inplace=True)
data2["Deaths"], data2["Recovered"] = data2_deaths, data2_recovered
data2.dropna(inplace=True)
# data2["Deaths"].astype(int)
data2.tail()

        Confirmed Deaths Recovered
6/19/20     31316   1334     15698
6/20/20     31620   1346     16181
6/21/20     31931   1356     16683
6/22/20     32227   1359     17076
6/23/20     32527   1375     17573

In [41]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, Country/Region to 6/23/20
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Confirmed  157 non-null    object
 1   Deaths     157 non-null    object
 2   Recovered  157 non-null    object
dtypes: object(3)
memory usage: 4.9+ KB