<a href="https://colab.research.google.com/github/Do1kk/COVID-19_Project/blob/master/ProjectPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Porównanie dwóch wybranych modeli ML do przewidywania zgonów z powodu wybuchu COVID-19**

## **Pobranie danych z 2 źródeł.**

In [1]:
import urllib.request
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report, confusion_matrix

%matplotlib inline
plt.style.use('seaborn-whitegrid')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

### Pierwsze źródło

In [2]:
# Manage first source of data.
url1 = "https://raw.githubusercontent.com/dtandev/coronavirus/master/data/CoronavirusPL%20-%20General.csv"
data1 = pd.read_csv(url1)
data1.set_index('Timestamp', inplace=True)
data1.tail()

            Confirmed  ...  Number_of_tests_carried_out
Timestamp              ...
13-06-2020      29017  ...                      1169088
14-06-2020      29392  ...                      1188742
15-06-2020      29788  ...                      1202024
16-06-2020      30195  ...                      1221133
17-06-2020      30701  ...                      1247099

[5 rows x 7 columns]

In [3]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 107 entries, 03-03-2020 to 17-06-2020
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Confirmed                    107 non-null    int64
 1   Deaths                       107 non-null    int64
 2   Recovered                    107 non-null    int64
 3   In_the_hospital              107 non-null    int64
 4   In_quarantine                107 non-null    int64
 5   Under_medical_supervision    107 non-null    int64
 6   Number_of_tests_carried_out  107 non-null    int64
dtypes: int64(7)
memory usage: 6.7+ KB

### Drugie źródło

In [22]:
# Manage second source of data.
url2_confirmed = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
url2_deaths = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"
url2_recovered = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv"

data2_confirmed = pd.read_csv(url2_confirmed)
data2_deaths = pd.read_csv(url2_deaths)
data2_recovered = pd.read_csv(url2_recovered)

data2_confirmed = data2_confirmed[data2_confirmed["Country/Region"] == "Poland"].T
data2_deaths = data2_deaths[data2_deaths["Country/Region"] == "Poland"].T
data2_recovered = data2_recovered[data2_recovered["Country/Region"] == "Poland"].T

data2 = data2_confirmed
data2.rename(columns={data2.columns[0]: "Confirmed"}, inplace=True)
data2["Deaths"], data2["Recovered"] = data2_deaths, data2_recovered
data2.dropna(inplace=True)
data2["Deaths"] = data2["Deaths"].astype(int)
# data2["Deaths"] = pd.factorize(data2["Deaths"])[0]
data2.tail()

ValueError: ignored

In [21]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 157 entries, Country/Region to 6/23/20
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Confirmed  157 non-null    object
 1   Deaths     157 non-null    object
 2   Recovered  157 non-null    object
dtypes: object(3)
memory usage: 4.9+ KB

In [5]:
# ciekawe czy to się zapisze